# MySQL connection
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/sokhtmon_bokhtar"

NEXTAUTH_SECRET="change-me"
ADMIN_PANEL_KEY="change-this-admin-key"
PAYMENT_CARD_NUMBER="PAYMENT_CARD_NUMBER"
PAYMENT_PHONE_NUMBER="PAYMENT_PHONE_NUMBER"
SMS_API_KEY="SMS_API_KEY"
STORAGE_URL="STORAGE_URL"
NEXT_PUBLIC_APP_NAME="Сохтмон Бохтар"
NEXT_PUBLIC_CURRENCY="TJS"
NEXT_PUBLIC_CITY="Бохтар"
