DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/sokhtmon_bokhtar
NEXTAUTH_SECRET=change-me
PAYMENT_CARD_NUMBER=PAYMENT_CARD_NUMBER
PAYMENT_PHONE_NUMBER=PAYMENT_PHONE_NUMBER
SMS_API_KEY=SMS_API_KEY
STORAGE_URL=STORAGE_URL
NEXT_PUBLIC_APP_NAME=Sokhtmon Bokhtar
NEXT_PUBLIC_CURRENCY=TJS
NEXT_PUBLIC_CITY=Bokhtar
